.art-detail-page{
	position: relative;
}

.art-detail{
	position: relative;
	margin-top:60px;
	margin-bottom:50px;
	background-color: #bbecbf;
}

.art-detail-title{
	height: 200px;
	font-size: 30px;
	color:blue;
}

.art-detail-label{
	height:100px;
}

.art-detail-markdown{
}

.footer{
	position: absolute;
}