.sign-up{
	position: relative;
	margin-top: 60px;
	background-color: #3976a0;
}

.sign-up-table{
	position: relative;
	width: 1000px;
	margin: 40px auto;
	border:2px solid #fff;
	border-radius: 10px;
	background-color: rgba(0,0,0,.3);
}

.sign-up-table :after{clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

.sign-up-h1{
	position: relative;
	margin:20px 0;
	text-align: center;
	color:#fff;
}

.sign-up-left{
	position: relative;
	float: left;
	width: 450px;
}

.sign-up-row{
	padding: 40px 0px 0px 20px;
	margin-bottom: 40px;
}

.sign-up-tip{
	font-size: 30px;
	color: #fff;
}

.sign-up-input{
	margin-left: 30px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
}

.sign-up-head{
	position: relative;
	float: right;
	width: 550px;
	font-size: 30px;
	color: #fff;
	overflow: auto;
}

.sign-up-file{
	width:200px;
	height: 60px;
	border:0px;
}

.sign-up-preview{
}

.sign-up-preview-text{
	vertical-align: top;
}

.sign-up-img-result{
	width:140px;
	height: 40px;
	border:0px;
	background-color: #fff;
	font-size: 24px;
	color: #000;
}

.sign-up-submit{
	width:140px;
	height: 40px;
	border:0px;
	clear:both;
	background-color: #fff;
	font-size: 24px;
	color: #000;
}