*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a
{
    color:#fff;
    text-decoration: none;
}

.container
{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 30px;
}

.header
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    height: 60px;

    color: white;
    background-color: #21586d;
}

.logo
{
    font-size: 24px;
    line-height: 50px;

    display: inline-block;

    width: 200px;
    height: 50px;

    text-align: center;

    color: white;
}



.header-search
{
    position: absolute;
    top: 15px;
    left: 30%;

    display: table;

    height: 30px;
    margin-left: 60px;

    vertical-align: middle;

    border: 0;
}

.header-search-title
{
    display: table-cell;

    padding: 0;
    padding: 0 10px;

    color: #fff;
    border: 0;
    border-right: 2px solid #21586d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #0f3e50;
}

.header-search-input
{
    line-height: 30px;

    display: table-cell;

    width: 200px;
    height: 30px;

    color: #fff;
    border: 0;
    border-right: 2px solid #21586d;
    background-color: #0f3e50;
}

.header-search-btn
{
    display: table-cell;

    width: 50px;
    height: 30px;

    color: #fff;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #0f3e50;
}

.header-search-title:hover,
.header-search-btn:hover
{
    background-color: #4086a0;
}

.footer
{
    font-size: 14px;
    line-height: 50px;

    position: absolute;
    z-index: 1;
    bottom: 0;

    height: 50px;

    color: white;
    background-color: #21586d;
}



