.home
{
    position: relative;
}

.home-middle
{
    position: relative;
}

.back-color{
    position: fixed;
    top: 0px;
    left:0px;
    bottom: 0px;
    right:0px;
    background-color:#bbecbf;
    z-index: -1;
}

.user-view
{
    position: fixed;
    top: 0;
    bottom: 0;

    width: 350px;
    margin: 60px 0 0 0;

    color: #fff;
    background-color: #3976a0;
    -webkit-box-shadow: 2px 2px 5px #20354e;
            box-shadow: 2px 0 5px #20354e;
    z-index: 1;
}

.user-null{
    position: fixed;
    top: 0;
    bottom: 0;

    width: 350px;
    margin: 60px 0 0 0;

    color: #fff;
    background-color: #3976a0;
    box-shadow: 2px 2px 5px #20354e;
    z-index: 1;
}

.user-view-head
{
    position: relative;

    width: 200px;
    height: 200px;
    margin: 80px auto 0 auto;

    border: 5px solid #fff;
    border-radius: 50%;
    background-color: orange;
    overflow: hidden;
}

.user-view-image{
    width: 100%;
    height: 100%;
}

.user-view-username
{
    font-size: 28px;

    margin: 50px;

    text-align: center;
}

.art-list
{
    position: relative;

    margin: 60px 0 0 350px;
    padding-bottom: 50px;

    background-color: #bbecbf;
}

.art-new-icon{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3976a0;
}

.art-new-icon-text{
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    font-weight: bold;
}

.art-items
{
    position: relative;

    overflow: hidden;

    width: 700px;
    margin: 0 auto;
}

.art-item
{
    position: relative;

    box-sizing: border-box;
    width: 660px;
    height: 230px;
    margin: 30px;

    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px #20354e;
}

.art-item:hover
{
    border: 2px solid #3976a0;
}

.art-item-title
{
    font-size: 30px;

    margin: 5px 10px;

    cursor: pointer;
    text-align: center;
}

.art-item-title a{
    color: #0366d6;
}

.art-item-label
{
    font-size: 24px;

    display: inline-block;

    margin: 5px 0 10px 20px;
    padding: 5px;

    color: #34596d;
    background-color: #dce9f7;
}

.art-item-label:hover
{
    background-color: #91c6ff;
}

.art-item-content
{
    font-size: 16px;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    height: 80px;
    padding: 10px 20px;

    text-overflow: ellipsis;

    color: #34596d;
    border-top: 2px solid #91c6ff;
}

.art-item-more
{
    font-size: 20px;

    position: absolute;
    right: 20px;
    bottom: 5px;

    display: inline-block;

    padding: 5px;

    cursor: pointer;
}

.art-item-more a{
    color: #029aaf;
}
